---
const { path } = Astro.props;
---

<footer>
	<p>Made with ♥ by Sean</p>
</footer>

<style>
	footer {
		display:flex;
		justify-content: center;
		margin-top: auto;
		padding: 2rem 0;
		border-top: 3px solid var(--theme-divider);
	}
	footer p {
				color:#C46AF9;

	}
</style>
